{
  "openapi": "3.1.0",
  "info": {
    "title": "UP for Grok — AI Token Launcher",
    "description": "Enables Grok to deploy Solana memecoins to pump.fun with zero wallet required. Automatically generates token metadata, bonding curves, and creator fee claim codes.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hitup.fun",
      "description": "Production API"
    },
    {
      "url": "http://localhost:8081",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/api/launch": {
      "post": {
        "operationId": "launchCoin",
        "summary": "Launch a new coin on pump.fun from Grok",
        "description": "Triggers the creation of a new SPL token and pump.fun bonding curve. Syntax: UPload It. [NAME], [TICKER]",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the coin (e.g. 'Test Cat')"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "The token symbol/ticker (e.g. 'TCAT')"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description for pump.fun metadata"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Optional URL of image generated by Grok"
                  },
                  "x_link": {
                    "type": "string",
                    "description": "Optional X / Twitter profile link"
                  },
                  "website": {
                    "type": "string",
                    "description": "Optional website link"
                  }
                },
                "required": ["name", "symbol"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coin created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "mint": { "type": "string", "description": "Solana Contract Address (CA)" },
                    "name": { "type": "string" },
                    "symbol": { "type": "string" },
                    "claimCode": { "type": "string", "description": "Secret code to claim 3 SOL + 20% fees" },
                    "pumpUrl": { "type": "string", "description": "Live pump.fun link" },
                    "status": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/coins": {
      "get": {
        "operationId": "getRecentCoins",
        "summary": "Fetch recently launched coins",
        "responses": {
          "200": {
            "description": "List of recent coins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "object" }
                }
              }
            }
          }
        }
      }
    },
    "/api/claim": {
      "post": {
        "operationId": "claimCreatorBonus",
        "summary": "Claim creator bonus using claim code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claimCode": { "type": "string" },
                  "walletAddress": { "type": "string" }
                },
                "required": ["claimCode", "walletAddress"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claim verification result",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  }
}
